### Learning to do Chi squared test
Reference:
* https://machinelearningmastery.com/chi-squared-test-for-machine-learning/

In [19]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency, chi2

In [32]:
table = pd.DataFrame(data=np.random.randint(low=1, high=100, size=(5, 3)), 
                     columns=["A", "B", "C"], index=["group1", "group2", "group3", "group4", "group5"])

In [33]:
table

         A   B   C
group1  50  27  75
group2  65  22  61
group3  43  16  76
group4  99  60  37
group5   2  99  12

In [38]:
stat, p, dof, expected = chi2_contingency(table)

In [39]:
critical = chi2.ppf(0.95, dof)
print(stat, critical)

273.18322956744544 15.507313055865453