In [10]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [7]:
df = pd.DataFrame(data=[[1,2,3],[10,20,30], [5,10,2]], columns=["A", "B", "C"])

In [8]:
df

    A   B   C
0   1   2   3
1  10  20  30
2   5  10   2

In [14]:
# column-wise scaling
scaler = MinMaxScaler()
scaler.fit_transform(df)

array([[ 0.        ,  0.        ,  0.03571429],
       [ 1.        ,  1.        ,  1.        ],
       [ 0.44444444,  0.44444444,  0.        ]])

In [15]:
# row-wise scaling
scaler = MinMaxScaler()
scaler.fit_transform(df.T).T

array([[ 0.   ,  0.5  ,  1.   ],
       [ 0.   ,  0.5  ,  1.   ],
       [ 0.375,  1.   ,  0.   ]])